.container{
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: scroll ;
    overflow-x: hidden;
}

i.delete{
    color: #e71837;
}
i.edit{
    color: #383838
}
button{
    margin-bottom: 30px;
    background-color: #e71837;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.quantity {
    padding: 10px;
}